
.loginwrapper{
  width: 330px;
  padding: 2rem 0 1rem 0;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}
.loginwrapper h1{
  font-size: 2rem;
  color: #07001f;
}
.loginwrapper p{
  margin-bottom: 1.7rem;
}
.loginwrapper form input{
  width: 85%;
  outline: none;
  border: none;
  background: #dfe9f5;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.loginwrapper .recover{
  text-align: right;
  font-size: 0.8rem;
  margin: 0.2rem 1.7rem 0 0;
}
.loginwrapper .recover a{
  text-decoration: none;
  color: #07001f;
  
}
.loginwrapper button{
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 85%;
  background: tomato;
  color: #fff;
  cursor: pointer;
}
.loginwrapper button:hover{
  background: rgba(122, 30, 30, 0.767);
}
.loginwrapper .or{
  font-size: 0.8rem;
  margin-top: 1.5rem;
}
.loginwrapper .icons i{
  color: #07001f;
  padding: 00.8rem 1.5rem;
  border-radius: 10px;
  margin-left: .9rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #dfe9f5;
}
.loginwrapper .icons i:hover{
  color: #fff !important;
  background: #07001f;
  transition: 1s;
}
.loginwrapper .icons i:first-child{
  color: green;
}
.loginwrapper .icons i:last-child{
  color: blue;
}
.loginwrapper .not-member{
  font-size: 0.8rem;
  margin-top: 1.4rem;
}
.loginwrapper .not-member a{
  color: tomato;
  text-decoration: none;
}
.loginwrapper a:hover{
  text-decoration: underline;
}

.login-bg .social img{
 width: 1.5rem;
}


.login-bg{
  background-color: #000;
  
}
.login-bg .background{
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  
}
.login-bg .background .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.login-bg .shape:first-child{
  background: linear-gradient(
      #1845ad,
      #23a2f6
  );
  left: -80px;
  top: -80px;
}
.login-bg .shape:last-child{
  background: linear-gradient(
      to right,
      #ff512f,
      #f09819
  );
  right: -30px;
  bottom: -80px;
}
.login-bg form{
  max-width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
.login-bg form *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.login-bg form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
.login-bg form img{
  width: 100%;
}


.login-bg .social{
margin-top: 30px;
display: flex;

}
.login-bg .social div{
background: red;
width: 100%;
height:2rem;
border-radius: 10px;
padding: 5px 10px 10px 5px;
background-color: rgba(255,255,255,0.27);
color: #eaf0fb;
text-align: center;
display:flex;
align-items:center;
justify-content: center;
gap:1rem;
}
.login-bg .social div:hover{
background-color: rgba(255,255,255,0.47);
cursor: pointer;
}
.login-bg .social i{
margin-right: 4px;
}
