
.loginwrapper{
  width: 330px;
  padding: 2rem 0 1rem 0;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}
.loginwrapper h1{
  font-size: 2rem;
  color: #07001f;
}
.loginwrapper p{
  margin-bottom: 1.7rem;
}
.loginwrapper form input{
  width: 85%;
  outline: none;
  border: none;
  background: #dfe9f5;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.loginwrapper .recover{
  text-align: right;
  font-size: 0.8rem;
  margin: 0.2rem 1.7rem 0 0;
}
.loginwrapper .recover a{
  text-decoration: none;
  color: #07001f;
  
}
.loginwrapper button{
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 85%;
  background: tomato;
  color: #fff;
  cursor: pointer;
}
.loginwrapper button:hover{
  background: rgba(122, 30, 30, 0.767);
}
.loginwrapper .or{
  font-size: 0.8rem;
  margin-top: 1.5rem;
}
.loginwrapper .icons i{
  color: #07001f;
  padding: 00.8rem 1.5rem;
  border-radius: 10px;
  margin-left: .9rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #dfe9f5;
}
.loginwrapper .icons i:hover{
  color: #fff !important;
  background: #07001f;
  transition: 1s;
}
.loginwrapper .icons i:first-child{
  color: green;
}
.loginwrapper .icons i:last-child{
  color: blue;
}
.loginwrapper .not-member{
  font-size: 0.8rem;
  margin-top: 1.4rem;
}
.loginwrapper .not-member a{
  color: tomato;
  text-decoration: none;
}
.loginwrapper a:hover{
  text-decoration: underline;
}

.not-member img{
 width: 2rem;
}
